.rating-component {
  position: relative;
  background-color: hsla(213, 19%, 18%, 0.9);
  min-width: 18rem;
  width: 90%;
  max-width: 30rem;
  height: 27.33333333333333rem;
  padding: 2.133333333333333rem;
  border-radius: 1.333333333333333rem;
  margin: 0 auto;
  margin-bottom: 1.333333333333333rem;
  overflow: hidden;
}

.rating-component > * {
  width: 100%;
  height: 100%;
}

.rating-component h2 {
  font-size: 1.85rem;
  color: hsl(0, 0%, 100%);
  margin: 2.266666666666667rem 0 0.6666666666666667rem 0;
}

.rating-section > img {
  display: block;
  background-color: hsla(216, 12%, 54%, 0.1);
  padding: 1.066666666666667rem;
  border-radius: 50%;
}

.rating-section fieldset {
  line-height: 1.5;
  border: none;
}

.rating-section fieldset > div {
  display: flex;
  align-items: center;
  gap: 1.333333333333333rem;

  margin: 1.6rem 0;
}

input[name="offering-feedback"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label[for^="rate"] {
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
  display: block;
  height: 3.466666666666667rem;
  width: 3.466666666666667rem;
  border-radius: 50%;
  background-color: hsla(216, 12%, 54%, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}

label[for^="rate"] > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label[for^="rate"]:hover,
input[name="offering-feedback"]:focus + label[for^="rate"] {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

input[name="offering-feedback"]:checked + label[for^="rate"] {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

button[type="submit"] {
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  height: 3.333333333333333rem;
  width: 100%;
  border: none;
  border-radius: 3.333333333333333rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

button[type="submit"]:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.thank-you-section {
  text-align: center;
  display: none;
}

.thank-you-section > img {
  display: block;
  margin: 0 auto;
  margin-top: 0.8rem;
}

.thank-you-section > h2 {
  margin-bottom: 1.066666666666667rem;
}

.selectedRating {
  position: relative;
  display: inline-block;
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.1);
  height: 2.133333333333333rem;
  width: 12.46666666666667rem;
  border-radius: 1.066666666666667rem;
  margin-top: 2.266666666666667rem;
}

.selectedRating > span {
  display: inline-block;
  margin-top: 0.5333333333333333rem;
}